{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "import/prefer-default-export": 0,
    "import/order": "off",
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "class-methods-use-this": "warn",
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "block-spacing": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "eol-last": ["error", "always"],
    "eqeqeq": "warn",
    "key-spacing": ["error", { "mode": "strict" }],
    "max-len": ["error", { "tabWidth": 2, "code": 120 }],
    "no-console": "warn",
    "no-return-await": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "object-curly-newline": ["error", { "minProperties": 3, "multiline": true, "consistent": true }],
    "object-curly-spacing": ["error", "always"],
    "prefer-const": "error",
    "yoda": "error"
  }
}
